
<!-- LOBBY-DIV -->
<div id="room-div" class="d-flex flex-column">
    <div id="lobby-div">
        <div class="d-flex justify-content-between align-items-center">
            <div class="custom-dropdown" style="height: 150px;"> <!-- Hauteur fixe pour le conteneur -->
                <button class="btn btn-primary mx-5 custom-button" id="player-button">Players
                    <img class="player-logo" src="../../assets/icons/icon_player_dark.png">
                        <span id="nb_player_button"></span>
                        <div id="users-in-room">
                            <ul id="player-list">
                            </ul>
                        </div>
                </button>
            </div>
            <h1 class="text-center">Tournament</h1>
            <div class="my-5 Username-dropdown" style="height: 150px;"> <!-- Hauteur fixe pour le conteneur -->
                <button class="btn btn-primary mx-5 custom-button" id="username-btn"></button>
            </div>
        </div>


        <div class="container-sm border p-3 center settings-container">
            <h2 class="text-center">Room</h2>
            <p id="error-message"><p>
            <div>
                <ul id="player-list-settings">
                </ul>
                <ul id="settings-list">
                  <input type="text" id="name-input" placeholder="Enter your name">
                  <button class="btn btn-outline-success" id="change_name_btn">Change Name</button>
                  <p id="error-message-name"><p>
                </ul>
            </div>
            <div id="start_button_div">
                <button class="btn btn-outline-success center" id="start_btn_id" >Start Game</button>
            </div>
        </div>
        
        <div class="container-sm p-3 center mt-5" id="share-link-container">
          <br>
          <h4 class="text-center">Share the link to invit friends:</h4>
          <h6 class="text-center" id="sharing_link"></h6>
      </div>
    </div>
    <div class="container-fluid">
      <div class="row">
          <div class="col-12">
              <div id="cli-box">
                  <p id="cli_log"></p>
                  <textarea id="cli-input" class="form-control" placeholder="Type your command here..."></textarea>
              </div>
          </div>
      </div>
  </div>
</div>

<!-- GAME_DIV -->
<div id="pongDiv">
</div>

<!-- NEXT MATCH DIV -->
<div id="nextMatchDiv" class="container-sm p-3 center border nextMatchContainer">
    <div class="row justify-content-md-center">
      <div class="col-11">
        <h3 class="text-center mb-4">Next Match</h3>
        <div class="row">
          <div class="col-6">
            <p class="player-label" id="player-label_1">Player 1:</p>
            <p><span id="player1Name"></span></p>
          </div>
          <div class="col-6">
            <p class="player-label" id="player-label_2">Player 2:</p>
            <p><span id="player2Name"></span></p>
          </div>
        </div>
        <div class="text-center">
          <button id="startNextMatchButton" class="btn btn-outline-success center">Start</button>
        </div>
      </div>
    </div>
  </div>


<!--endGameTournament DIV-->
<div id="endGameTournamentDiv">
    <div class="container-sm p-3 center endDivContainer">
        <div class="game-result-container">
          <div class="row">
            <div class="col-md-6 my-5">
              <h4 id="winner_title_tournament">WINNER</h4>
              <p class="endGameName" id="winner_name_tournament"></p>
            </div>
            <div class="col-md-6 my-5">
              <h4 id="winner_title_tournament"> LOSER</h4>
              <p class="endGameName" id="loser_name_tournament"></p>
            </div>
            <div class="text-center">
                <button id="getNextMatchButton" class="btn btn-outline-success center">Next</button>
              </div>
          </div>
        </div>
      </div>
  </div>

  <div id="endTournamendDiv">
    <h3 id="winner_tournament_title">WINNER: <span id="winner_name_end_tournament"></span></h3>
    <div id="matchList">
  </div>


<!--ENDGAME DIV-->
<div id ="endGameDiv">
    <div class="container-sm p-3 center endDivContainer">
        <div class="game-result-container">
          <div class="row">
            <div class="col-md-6 my-5">
              <h4 id="winner_title">WINNER</h4>
              <p class="endGameName" id="winner_name"></p>
            </div>
            <div class="col-md-6 my-5">
              <h4 id="loser_title"> LOSER</h4>
              <p class="endGameName" id="loser_name"></p>
            </div>
          </div>
        </div>
      </div>
</div>

