<div id="lobby-div">
	<iframe id="background" src="../../views/lobby/three.html"></iframe>
	<div class="d-flex flex-column align-items-center justify-content-start mt-3 border container-title">
		<h1>42 PONG</h1>
	</div>
	<div class="container d-flex align-items-center justify-content-center border border container-button">
		<div class="text-center" id="container-button_id">
			<button type="button" class="btn btn-light btn-lg mx-4 scale-btn" id="single_game_btn">Create Single Game</button>
			<button type="button" class="btn btn-light btn-lg mx-4 scale-btn" id="tournament_btn">Create Tournament</button>
			<button type="button" class="btn btn-light btn-lg mx-4 scale-btn" id="Local_game_btn">Create Local Game</button>
		</div>
		<div class="text-center" id="container_tournament_id">
			<h5>Number of players for the tournament:</h5>
			
			<div class="numbers-container">
				<div class="number selected" id="three">3</div>
				<div class="number" id="four">4</div>
				<div class="number" id="five">5</div>
				<div class="number" id="six">6</div>
				<div class="number" id="seven">7</div>
				<div class="number" id="eight">8</div>
			</div>
			<div class="button-container mt-3">
				<button class="btn btn-secondary mr-2" id="backButton">Back</button>
				<button class="btn btn-primary" id="createButton">Create</button>
			</div>
		</div>
	</div>
</div>
	






