@font-face {
    font-family: 'BruceForever';
    src: url('../../assets/font/bruce-forever-font/BruceForeverRegular-X3jd2.ttf') format('truetype');
}

@font-face {
    font-family: 'Aquire';
    src: url('../../assets/font/aquire-font/Aquire-BW0ox.otf') format('truetype');
}

#background {
    position: fixed;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    z-index: -1;
    border: none;
    pointer-events: none;
}   
#lobby-div h1 {
    position: relative;
    z-index: -1;
    font-size: 5em;
    color: cyan;
    margin-bottom: 30px;
    font-family: 'BruceForever';
    text-shadow: 2px 2px 3px rgba(0, 0, 0, 0.2);
}

.container-button {
    height: 30vh;
	border-color: cyan !important;
}

.scale-btn {
    cursor: pointer;
    transition: transform 0.3s ease;
}
.scale-btn:hover {
    transform: scale(1.1);
}

#container-button_id {
    display: block;
}

.container-title {
    border-color: cyan !important;
}

#container_tournament_id {
    display: none;
    color: white;
}

.container-tournament_id h5 {
    font-size: 2em;
}

.numbers-container {
    display: flex;
    justify-content: center;
}

.number {
    border: 3px solid #ccc;
    padding: 5px 10px;
    margin: 0 5px;
    cursor: pointer;
}

.selected {
    border-color: #007bff;
    color: #007bff;
}