<div id="edit-profile-div" class="d-flex flex-column align-items-center justify-content-start mt-5">
    <h1>EDIT</h1>

    <div class="mt-3 text-center" id="username_div">
        <h2>NEW USERNAME</h2>
        <input type="text" id="username" name="username" pattern="[a-zA-Z0-9]+"
            title="Username must contain only alphanumeric characters." required>
    </div>

    <div class="mt-3 text-center" id="password_div">
        <h2>NEW PASSWORD</h2>
        <input type="password" id="password" name="password" pattern="^(?=.*\d)(?=.*[!@#$%^&*])(?=.*[A-Z]).{8,}$"
            title="Password must contain at least 8 characters, 1 digit, 1 special character, and 1 uppercase letter"
            required>
    </div>

    <div class="mt-3 text-center" id="avatar_div">
        <h2>NEW AVATAR</h2>
        <input type="file" class="form-control" id="fileInput" accept=".jpg, .jpeg, .png">
        <div class="form-text" id="accepted_format">Accepted formats: .jpg, .jpeg, .png</div>
    </div>

    <div class="mt-3 text-center" id="save_div">
        <button class="btn btn-primary" type="button" id="savebtn">
            Save
        </button>
    </div>

</div>