<div id="profile-div" class="d-flex flex-column align-items-center justify-content-start mt-5">
    <h1>PROFILE</h1>
    
    <div class="avatar-frame mx-auto mt-3">
        <img id="avatar" alt="Avatar" class="img-fluid">
    </div>
    
    <div class="mt-3 text-center" id="username_div">
        <h2 id="username_field"></h2>
		<a href="#edit-profile">edit</a>
    </div>
    <div class="mt-3 text-center" id="logout_div">
        <button class="btn btn-secondary" type="button" id="logout-btn">
            Logout
        </button>
    </div>

</div>