<div id="profile-div" class="d-flex flex-column align-items-center justify-content-start mt-5">
    <h1>PROFILE</h1>
    
    <div class="avatar-frame mx-auto mt-3">
        <img id="avatar" alt="Avatar" class="img-fluid">
    </div>
    
    <div class="mt-3 text-center" id="username_div">
        <h2 id="username_field"></h2>
		<a href="#edit-profile">edit</a>
    </div>
    <div class="mt-3 text-center" id="logout_div">
        <button class="btn btn-secondary" type="button" id="logout-btn">
            Logout
        </button>
    </div>
    <div class="container mt-4 container_game_history">
        <h2>Game History</h2>
        <table class="table custom_table table-dark table-bordered ">
            <thead>
            <tr>
                <th>Date</th>
                <th>Player 1</th>
                <th>Player 2</th>
                <th>Result</th>
            </tr>
            </thead>
            <tbody id="gameHistoryTableBody">
            </tbody>
        </table>
    </div>
</div>